div.info{
    display: inline-block;
    background-color: transparent;
}
div.email{
    background-color: #c2e8f4;
    margin-bottom: 2px;
    height:40px;
}
div#main{
    background-color: transparent;
    padding: 30px 30px 100px 30px;
}
div#inlay{
    background-color: white;
    opacity:0.5;
    height: 430px;
    width: 94.5%;
    position: absolute;
}
body{
    font-family: "Tahoma";
    font-size: 1.5em;
}
div#title{
    border-bottom: 1px solid #a5bdd3;
    border-top: 1px solid #a5bdd3;
}
div#compose{
    width: 110px;
    margin-top:10px;
    margin-right:20px;
    margin-bottom:10px;
    margin-left:91.3%;
    background-color: white;
}
span#cheap{
    font-family: "Papyrus", "Bookman", "Purisa Medium", "Secret Recipe", "Cocktail Script", serif;
    font-size: 1.5em;
    color: white;
}
span.admin{
    font-family: "Times New Roman";
    color: white;
}
body{
    background-image: url(HD_Wallpapers.jpg);
}
div#email{
    background-color: #a5bdd3;
    height: 430px;
    width: 94.5%;
    position: fixed;
    opacity: 0.65;
}
div#com{
    text-align: center;
    background-color: #a5bdd3;
    height: 333px;
    width: 35%;
    position: fixed;
    margin-top: 21px;
    margin-left: 420px;
    border: 5px solid #58a2f5;
    opacity: 0.85;
}
textarea{
    background-color: #a5bdd3;
}
.hide{
    visibility: hidden;
}
