label{
    display: inline-block;
    width: 80px;
}
div#form{
    background-color: #e3e3e3;
    padding: 20px;
    width: 260px;
    margin: 100px auto;
}
body{
    font-family: "Tahoma";
}
span#cheap{
    font-family: "Papyrus";
    font-size: 1.25em;
}