label{
    display: inline-block;
    width: 80px;
}
img {
    padding-left:13px;
}
div#form{
    background-color: #e3e3e3;
    padding: 20px;
    width: 260px;
    margin: 100px auto;
}
body{
    font-family: "Tahoma";
    background: url("HD_Wallpapers.jpg");
}

#error{
	background-color:red;
}

#newuser{
    margin-left:90px;
}
#loginButton {
    margin-left:100px;
}