input{
    display: block;
}

label{
    display: block;
}

#password{
    display: inline;
}

#passwordError{
    background-color: red;
    width: 20%;
}
form{
    font-family: "Tahoma";
    font-size: 1em;
}
form{
    background-color: #dff2f5;
    padding: 20px;
    width: 260px;
    margin: 150px auto;
}
body{
    background-image: url(HD_Wallpapers.jpg);
}
span{
    font-family: "Tahoma";
    font-size: 2em;
}